.headerEdit,
.headerCreate {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 940px;
 margin-bottom: 30px;
}

.headerTitle h1 {
 font-size: 24px;
 color: #111111;
}

.adminEdit__content {
 width: 100%;
 max-width: 940px;
 justify-content: center;
 align-items: center;
 display: flex;
 position: relative;
}

.adminEdit__content #form-delete {
 position: absolute;
 top: 30px;
 right: 140px;
}

.btn-delete {
 background-color: #dc4747;
 margin-right: 8px;
 width: 92px;
 height: 37px;
 border-radius: 4px;
 font-weight: bold;
 color: #fff;
 border: none;
 transition: 0.3s;
 cursor: pointer;
}

.btn-delete:hover {
 background-color: rgb(212, 45, 45);
}

.edit-recipe,
.create-recipe {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 max-width: 940px;
 width: 100%;
 padding: 30px 0;
}

.edit-recipe .item,
.create-recipe .item {
 display: flex;
 flex-direction: column;
 width: 100%;
 margin: 10px 0;
}

.edit-recipe .item input,
textarea,
.create-recipe .item input,
textarea {
 border-radius: 4px;
 border: 1px solid #dddddd;
 background-color: #fff;
 padding: 20px 20px;
 resize: none;
 width: 95.5%;
}

.edit-recipe .item label,
.create-recipe .item label {
 font-size: 16px;
 color: #111111;
 font-weight: bold;
 margin-bottom: 16px;
}

.btn_add {
 border: none;
 font-size: 16px;
 color: #6558c3;
 font-weight: bold;
 background: none;
 margin-bottom: 30px;
 cursor: pointer;
}

.btn-salvar {
 width: 136px;
 height: 37px;
 border-radius: 4px;
 background-color: #6558c3;
 font-weight: bold;
 color: #fff;
 border: none;
 transition: 0.3s;
 cursor: pointer;
 
 &:hover {
  background-color: blueviolet;
 }
}