.headerRecipe,
.headerChef {
  text-align: center;
  margin-top: 50px;
  width: 940px;

  &__edit {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    &__title {
      color: $color-black;
      font-size: 24px;
    }

    &__btn button {
      width: 136px;
      height: 37px;
      border-radius: 4px;
      background-color: #6558c3;
      font-weight: bold;
      color: #fff;
      border: none;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: blueviolet;
      }
    }
  }

  &__image {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin: 50px 0 16px 0;
  }

  &__name {
    color: $color-black;
    font-size: 36px;
    margin-bottom: 4px;
  }

  &__recipes {
    font-size: 20px;
    color: $color-black-light;
  }
}
