<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block head %}
            <title>Foodfy | Home</title>
        {% endblock %}

    </head>

    <body>
        <div class="container">
            {% block header %}
                <header>
                    <a href="/"><img src="/assets/image/logo.png" alt="Foodfy"></a>
                    <ul>
                        <a href="/about">
                            <li>Sobre</li>
                        </a>
                        <a href="/recipes">
                            <li>Receitas</li>
                        </a>
                    </ul>
                </header>
            {% endblock %}
            {% block content %}{% endblock %}

            <footer>
                <span>Todos direitos reservados, receitas Foodfy.</span>
            </footer>

            <script src="/app.js"></script>
        </body>
    </html>