* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  position: relative; }

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px; }

.content {
  max-width: 940px; }

.header {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 48px 0;
  width: 100%; }
  .header__content {
    align-items: center;
    display: flex;
    width: 940px; }
    .header__content__list {
      list-style: none;
      margin-left: 122px; }
      .header__content__list__item {
        display: inline;
        margin: 15px; }
        .header__content__list__item__link {
          color: #111111;
          text-decoration: none; }

.headerAdmin {
  width: 100%;
  align-items: center;
  background-color: #111111;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  height: 80px;
  padding: 0; }
  .headerAdmin__content {
    width: 940px;
    display: flex;
    align-items: center; }
    .headerAdmin__content__nav {
      display: flex;
      margin-left: 50px; }
      .headerAdmin__content__nav__list {
        margin: 0;
        list-style: none;
        display: flex; }
        .headerAdmin__content__nav__list__item a {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          margin-right: 16px; }
          .headerAdmin__content__nav__list__item a.active {
            color: #fff;
            font-weight: bold; }

.banner {
  align-items: center;
  box-sizing: border-box;
  background-color: #fbdfdb;
  border-radius: 30px;
  display: flex;
  height: 366px;
  justify-content: space-between;
  max-width: 940px;
  padding: 0 110px 0 60px;
  width: 100%; }
  .banner__content {
    max-width: 316px; }
    .banner__content__title {
      font-size: 32px;
      line-height: 42px;
      color: #111111;
      font-weight: bold;
      margin-bottom: 10px; }
    .banner__content__text {
      font-size: 18px;
      line-height: 28px;
      color: #111111;
      opacity: 0.7; }

.receitas {
  width: 100%;
  height: 100%;
  max-width: 940px;
  margin-top: 50px; }
  .receitas__title {
    margin-bottom: 20px;
    color: #111111;
    font-size: 24px;
    line-height: 34px; }
  .receitas__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px; }

.receita {
  transition: transform 0.2s;
  text-decoration: none; }
  .receita__content__thumb {
    width: 100%;
    max-width: 300px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer; }
  .receita__content__name, .receita__content__title {
    max-width: 300px;
    font-size: 18px;
    line-height: 28px;
    color: #111111; }
  .receita__content__author {
    font-size: 14px;
    line-height: 28px;
    color: #777777; }

.about__title {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  color: var(--color-black);
  font-weight: 600; }
.about__heading {
  font-size: 20px;
  line-height: 30px;
  color: #111111; }
.about__text {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin: 20px 0; }

.recipe {
  width: 100%; }
  .recipe__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; }
    .recipe__header__image {
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
      margin-bottom: 50px; }
    .recipe__header__name {
      font-size: 36px;
      line-height: 46px;
      font-weight: bold;
      margin-bottom: 4px;
      color: #111111; }
    .recipe__header__author {
      font-size: 24px;
      color: #444444; }
  .recipe__content {
    margin-top: 32px; }
    .recipe__content__subtitle {
      font-size: 24px;
      line-height: 34px;
      color: #111111;
      margin: 40px 0 20px 0; }
      .recipe__content__subtitle__show {
        font-size: 12px;
        line-height: 22px;
        color: #9999;
        text-transform: uppercase;
        margin-left: 8px;
        cursor: pointer; }
    .recipe__content__description {
      list-style: none;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      line-height: 28px;
      padding: 2px;
      color: #444444; }
      .recipe__content__description__list::before {
        content: " - "; }

.receitas__adminTitle {
  margin-bottom: 32px; }
.receitas__gridAdmin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px; }
.receitas__link {
  text-decoration: none;
  font-size: 14px; }

.headerRecipe {
  text-align: center;
  margin-top: 50px; }
  .headerRecipe__edit {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0; }
    .headerRecipe__edit__btn button {
      width: 136px;
      height: 37px;
      border-radius: 4px;
      background-color: #6558c3;
      font-weight: bold;
      color: #fff;
      border: none;
      transition: 0.3s;
      cursor: pointer; }
      .headerRecipe__edit__btn button:hover {
        background-color: blueviolet; }

.headerEdit,
.headerCreate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  margin-bottom: 30px; }

.headerTitle h1 {
  font-size: 24px;
  color: #111111; }

.adminEdit__content {
  width: 100%;
  max-width: 940px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative; }

.adminEdit__content #form-delete {
  position: absolute;
  top: 30px;
  right: 140px; }

.btn-delete {
  background-color: #dc4747;
  margin-right: 8px;
  width: 92px;
  height: 37px;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  border: none;
  transition: 0.3s;
  cursor: pointer; }

.btn-delete:hover {
  background-color: #d42d2d; }

.edit-recipe,
.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 940px;
  width: 100%;
  padding: 30px 0; }

.edit-recipe .item,
.create-recipe .item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0; }

.edit-recipe .item input,
textarea,
.create-recipe .item input,
textarea {
  border-radius: 4px;
  border: 1px solid #dddddd;
  background-color: #fff;
  padding: 20px 20px;
  resize: none; }

.edit-recipe .item label,
.create-recipe .item label {
  font-size: 16px;
  color: #111111;
  font-weight: bold;
  margin-bottom: 16px; }

.btn_add {
  border: none;
  font-size: 16px;
  color: #6558c3;
  font-weight: bold;
  background: none;
  margin-bottom: 30px;
  cursor: pointer; }

.btn-salvar {
  width: 136px;
  height: 37px;
  border-radius: 4px;
  background-color: #6558c3;
  font-weight: bold;
  color: #fff;
  border: none;
  transition: 0.3s;
  cursor: pointer; }
  .btn-salvar:hover {
    background-color: blueviolet; }

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  height: 62px;
  position: absolute;
  bottom: 0; }

/*# sourceMappingURL=style.css.map */
