<div class="name_recipe item">
<label>Nome da receita</label>
<input type="text" name="title" value="{{recipe.title}}" placeholder="Informe o nome da receita">
</div>

{# <div class="author_recipe item">
<label>Nome do autor</label>
<input type="text" name="author" value="{{recipe.author}}" placeholder="Informe o nome do autor">
</div> #}

<div class="img-recipe item">
<label>Imagem da receita</label>
<input type="url" name="image" value="{{recipe.image_url}}" placeholder="Informe a URL da imagem">
</div>

<div id="ingredients" class="item">
  <div class="ingredient item">
  <label>Ingredientes</label>
    <input type="text" name="ingredients[]" value="{{recipe.ingredients}}" placeholder="informe o ingrediente" />
  </div>
</div>
<button type="button" class="btn_add add-ingredient">Adicionar ingrediente</button>

<div id="preparation" class="item">
  <div class="preparation item">
  <label>Modo de preparo</label>
    <input type="text" name="preparation[]" value="{{recipe.preparation}}" placeholder="informe o modo de preparo" />
  </div>
</div>
<button type="button" class="btn_add add-preparation">Adicionar novo passo</button>

<div class="informations item">
<label for="information">Informações adicionais</label>
<textarea  id="information" name="information" rows="5" cols="33">{{recipe.information}}</textarea>
</div>

