* {
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #fff;
    --color-rose: #FBDFDB;
    --color-gray-light: #EEEEEE;
    --color-black: #111111;
    --color-black-light: #777777;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    max-width: 940px;
    height: 50px;
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
}

header ul {
    list-style: none;
    margin-left: 122px;
}

header ul li {
    display: inline;
    margin: 15px;
}

header ul a {
    text-decoration: none;
    color: var(--color-black);
}

.banner {
    padding: 0 110px 0 60px;
    width: 100%;
    max-width: 940px;
    box-sizing: border-box;
    height: 366px;
    background-color: var(--color-rose);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.banner .content-text {
    max-width: 316px;
}

.banner .content-text h1 {
    font-size: 32px;
    line-height: 42px;
    color: var(--color-black);
    font-weight: bold;
    margin-bottom: 10px;
}

.banner .content-text p {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-black);
    opacity: .7;
}

.receitas {
    width: 100%;
    height: 100%;
    max-width: 940px;
    margin-top: 50px;
}

.receitas h2 {
    margin-bottom: 20px;
    color: var(--color-black);
    font-size: 24px;
    line-height: 34px;
}

.receitas-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.receita-item img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.receita-item {
    transition: transform .2s;
}

.receita-item:hover {
    transform: scale(1.1);
}

.receitas-page-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.receita-item-admin {
    display: flex;
}

.receita-item-admin div {
    display: flex;
    flex-direction: column;
}

.receita-item-admin div img {
    width: 172px;
    height: 80px;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 16px;
}

.linkRecipe {
    text-decoration: none;
}

.receita-item p,
.receita-item-admin div p {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-black);
    cursor: pointer;
}

.receita-item span,
.receita-item-admin div span {
    font-size: 14px;
    line-height: 28px;
    color: var(--color-black-light);
}

#about {
    width: 100%;
    max-width: 940px;
}

#about h1 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
    color: var(--color-black);
    font-weight: 600;
}

#about h2,
h3 {
    font-size: 20px;
    line-height: 30px;
    color: #111111;
}

#about p {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin: 20px 0;
}

footer {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    color: #999999;
    font-size: 14px;
    line-height: 24px;
    height: 62px;
}

/* .modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 660px;
    height: 413px;
    background-color: #fff;
    margin: 10% auto;
    position: relative;
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.modal img {
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.title-modal {
    font-size: 24px;
    line-height: 34px;
    color: var(--color-black);
}

.autor-modal {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-black-light);
} */

.close {
    cursor: pointer;
    font-size: 16px;
    color: #999999;
    margin-top: 60px;
}

.close:hover {
    color: var(--color-black);
}

.page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.not-found {
    font-size: 28px;
    line-height: 38px;
}

/*==== myRecipe ====*/
.headerRecipe {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.headerRecipe img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.headerRecipe h1 {
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
    margin-bottom: 4px;
    color: var(--color-black);
}

.recipeContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 940px;
}

.recipeContent h2,h3,h4 {
    font-size: 24px;
    line-height: 34px;
    color: var(--color-black);
    margin: 40px 0 20px 0;
}

.recipeContent .showItem {
    font-size: 12px;
    line-height: 22px;
    color: #9999;
    text-transform: uppercase;
    margin-left: 8px;
    cursor: pointer;
}

.recipeContent ul {
    margin-left: 18px;
}

.recipeContent ul li, p {
    font-size: 18px;
    line-height: 28px;
    padding: 2px;
    color: #444444;
}
