* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #fff;
  --color-rose: #fbdfdb;
  --color-gray-light: #eeeeee;
  --color-black: #111111;
  --color-black-light: #777777;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header {
  width: 100%;
  max-width: 940px;
  height: 50px;
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
}

header ul {
  list-style: none;
  margin-left: 122px;
}

header ul li {
  display: inline;
  margin: 15px;
}

header ul a {
  text-decoration: none;
  color: var(--color-black);
}

.banner {
  padding: 0 110px 0 60px;
  width: 100%;
  max-width: 940px;
  box-sizing: border-box;
  height: 366px;
  background-color: var(--color-rose);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
}

.banner .content-text {
  max-width: 316px;
}

.banner .content-text h1 {
  font-size: 32px;
  line-height: 42px;
  color: var(--color-black);
  font-weight: bold;
  margin-bottom: 10px;
}

.banner .content-text p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-black);
  opacity: 0.7;
}

.receitas {
  width: 100%;
  height: 100%;
  max-width: 940px;
  margin-top: 50px;
}

.receitas h2 {
  margin-bottom: 20px;
  color: var(--color-black);
  font-size: 24px;
  line-height: 34px;
}

.receitas-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.receita-item img {
  width: 100%;
  max-width: 300px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.receita-item {
  transition: transform 0.2s;
}

.receita-item:hover {
  transform: scale(1.1);
}

.receitas-page-admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.receita-item-admin {
  display: flex;
}

.receita-item-admin div {
  display: flex;
  flex-direction: column;
}

.receita-item-admin div img {
  width: 172px;
  height: 80px;
  border-radius: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-right: 16px;
  object-fit: cover;
}

.linkRecipe {
  text-decoration: none;
}

.receita-item p,
.receita-item-admin div p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-black);
  cursor: pointer;
}

.receita-item span,
.receita-item-admin div span {
  font-size: 14px;
  line-height: 28px;
  color: var(--color-black-light);
}

#about {
  width: 100%;
  max-width: 940px;
}

#about h1 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  color: var(--color-black);
  font-weight: 600;
}

#about h2,
h3 {
  font-size: 20px;
  line-height: 30px;
  color: #111111;
}

#about p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin: 20px 0;
}

footer {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  height: 62px;
}

.close {
  cursor: pointer;
  font-size: 16px;
  color: #999999;
  margin-top: 60px;
}

.close:hover {
  color: var(--color-black);
}

.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.not-found {
  font-size: 28px;
  line-height: 38px;
}

/*==== myRecipe ====*/
.headerRecipe {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.headerRecipe img {
  border-radius: 15px;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.headerRecipe h1 {
  font-size: 24px;
  line-height: 46px;
  font-weight: bold;
  margin-bottom: 4px;
  color: var(--color-black);
}

.headerRecipe h2 {
  font-size: 36px;
}

.headerRecipe div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.headerRecipe div button,
.save_recipe {
  width: 136px;
  height: 37px;
  border-radius: 4px;
  background-color: #6558c3;
  font-weight: bold;
  color: #fff;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.headerRecipe div button:hover,
.save_recipe:hover {
  background-color: blueviolet;
}

.recipeContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 940px;
}

.recipeContent h2,
h3,
h4 {
  font-size: 24px;
  line-height: 34px;
  color: var(--color-black);
  margin: 40px 0 20px 0;
}

.recipeContent .showItem {
  font-size: 12px;
  line-height: 22px;
  color: #9999;
  text-transform: uppercase;
  margin-left: 8px;
  cursor: pointer;
}

.recipeContent ul {
  margin-left: 18px;
}

.recipeContent ul li,
p {
  font-size: 18px;
  line-height: 28px;
  padding: 2px;
  color: #444444;
}

/* Página de edição*/
.headerEdit,
.headerCreate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  margin-bottom: 30px;
}

.headerTitle h1 {
  font-size: 24px;
  color: #111111;
}

.adminEdit__content {
  width: 100%;
  max-width: 940px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.adminEdit__content #form-delete {
  position: absolute;
  top: 30px;
  right: 140px;
}

.btn-delete {
  background-color: #dc4747;
  margin-right: 8px;
  width: 92px;
  height: 37px;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: rgb(212, 45, 45);
}

.edit-recipe,
.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 940px;
  width: 100%;
  padding: 30px 0;
}

.edit-recipe .item,
.create-recipe .item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

.edit-recipe .item input,
textarea,
.create-recipe .item input,
textarea {
  border-radius: 4px;
  border: 1px solid #dddddd;
  background-color: #fff;
  padding: 20px 20px;
  resize: none;
}

.edit-recipe .item label,
.create-recipe .item label {
  font-size: 16px;
  color: #111111;
  font-weight: bold;
  margin-bottom: 16px;
}

.btn_add {
  border: none;
  font-size: 16px;
  color: #6558c3;
  font-weight: bold;
  background: none;
  margin-bottom: 30px;
  cursor: pointer;
}

/*ADMIN */
.headerAdmin {
  align-items: center;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  max-width: 100vw;
  height: 80px;
  padding: 0;
}

.headerAdmin__content {
  width: 940px;
  display: flex;
  align-items: center;
}

.headerAdmin__content__nav {
  display: flex;
  margin-left: 50px;
}

.headerAdmin__content__nav__list {
  margin: 0;
}

.headerAdmin__content__nav__list__item a {
  color: var(--color-black-light);
  text-transform: uppercase;
}

.headerAdmin__content__nav__list__item a.active {
  color: var(--color-gray-light);
  font-weight: bold;
}
