{% extends 'layoutAdmin.njk' %}

{%block content%}
 <div class="container">
  <form class="create-recipe" method="POST" action="/admin/chefs">
   <div class="headerCreate">
    <div class="headerTitle">
     <h1>Criando chef</h1>
    </div>
    <div class="headerActions">
     <a href="#">
      <button class="btn-salvar" type="submit">Salvar chef</button>
     </a>
    </div>
   </div>
   {% include "pages/admin/chefs/fields.njk" %}
  </form>
 </div>
{%endblock%}