{% extends "layoutAdmin.njk" %}

{% block content %}
  <div class="adminEdit__content">
    <form class="edit-chefs" method="POST" action="/admin/chefs?_method=PUT">
      <div class="headerEdit">
        <div class="headerTitle">
          <h1>Editando chef</h1>
        </div>
        <div class="headerActions">
          <button class="btn-salvar" type="submit">Salvar chef</button>
        </div>
      </div>
      {% include "pages/admin/chefs/fields.njk" %}
      <input type="hidden" name="id" value="{{ chef.id }}">
    </form>

    <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
      <input type="hidden" name="id" value="{{ chef.id }}">
      <button type="submit" class="btn-delete">Deletar</button>
    </form>
  </div>

  <script>
    const formDelete = document.querySelector("#form-delete");
    formDelete.addEventListener("submit", function (event) {
      const confirmation = confirm("Deseja Deletar?");
      if (!confirmation) {
        event.preventDefault();
      }
    });
  </script>
{% endblock %}