{% extends "layoutAdmin.njk" %}

{% block content %}
 <div class="content">
  <header class="headerChef">
   <div class="headerChef__edit">
    <h1 class="headerChef__edit__title">Chef:
     {{chef.name}}</h1>
    <a class="headerChef__edit__btn" href="/admin/chefs/{{chef.id}}/edit">
     <button>Editar chef</button>
    </a>
   </div>
   <img class="headerChef__image" src="{{chef.avatar_url}}" alt="{{chef.name}}">
   <h1 class="headerChef__name">{{chef.name}}</h1>
   <span class="headerChef__recipes">{{chef.total_recipes}}
    receitas</span>
  </header>

  <section class="receitas">
   <h2 class="receitas__adminTitle">Receitas</h2>
   <div class="receitas__gridAdmin">
    {% for recipe in recipes%}
     <div class="receita transform" href="/{{recipe.chef_id}}"> 
      <div class="receita__content">
       <img class="receita__content__thumb" src="{{recipe.image}}" alt="{{recipe.title}}">
       <p class="receita__content__name">{{recipe.title}}</p>
       <span class="receita__content__author">{{recipe.name}}</span>
      </div>
      <a class="receitas__link" href="/admin/recipes/{{recipe.id}}">Visualizar</a>
     </div>
     {% endfor%}
    </div>
   </section>
  </div>
  {% endblock%}