
//Colors
$color-white: #fff;
$color-rose: #fbdfdb;
$color-gray-light: #eeeeee;
$color-black: #111111;
$color-black-light: #777777;
$color-text: #444444;
$color-border: #DDDDDD;
$color-primary: #6558C3;