.recipe {
  width: 100%;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

    &__image {
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
      margin-bottom: 50px;
    }

    &__name {
      font-size: 36px;
      line-height: 46px;
      font-weight: bold;
      margin-bottom: 4px;
      color: $color-black;
    }

    &__author {
      font-size: 24px;
      color: $color-text;
    }
  }
  &__content {
    margin-top: 32px;

    &__subtitle {
      font-size: 24px;
      line-height: 34px;
      color: $color-black;
      margin: 40px 0 20px 0;

      &__show {
        font-size: 12px;
        line-height: 22px;
        color: #9999;
        text-transform: uppercase;
        margin-left: 8px;
        cursor: pointer;
      }
    }

    &__description {
      list-style: none;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      line-height: 28px;
      padding: 2px;
      color: #444444;

      &__list {
        &::before {
          content:(" - ");
        }
      }
    }
  }
}
