{% extends 'layout.njk' %}

{% block content %}

    <section class="receitas-page">
        {% for recipe in recipes %}
        <a class="linkRecipe" href="/{{recipe.id}}">
            <div class="receita-item">
                <img src="{{recipe.image}}" alt="{{recipe.title}}">
                <p class="title-modal">{{recipe.title}}</p>
                <span class="autor-modal">{{recipe.author}}</span>
            </div>
            </a>
        {% endfor %}

    </section>

{% endblock %}