{% extends 'layout.njk' %}

{% block header %}
     <header class="headerAdmin">
      <div class="headerAdmin__content">
        <a class="headerAdmin__content__logo" href="/"><img src="/assets/image/foodfy-white.png" alt="Foodfy"></a>
        <nav class="headerAdmin__content__nav">
          <ul class="headerAdmin__content__nav__list">
            <li class="headerAdmin__content__nav__list__item"><a class="active" href="#">receitas</a></li>
            <li class="headerAdmin__content__nav__list__item"><a href="#">chefs</a></li>
          </ul>
        </nav>
      </div>
    </header>
{% endblock %}

{% block content %}
    <section class="container">
        <header class="headerRecipe">
            <div>
                <h1>Receita: {{myRecipe.name}}</h1>
                <a href="/admin/recipes/{{myRecipe.id}}/edit"><button>Editar receita</button></a>
            </div>
            <img src="{{myRecipe.image_url}}" alt="{{myRecipe.name}}">
            <h2>{{myRecipe.name}}</h2>
            <span>{{myRecipe.author}}</span>
        </header>

        <article class="recipeContent">
            <div class="conteudo">
                <h2>Ingredientes
                    <span class="showItem">esconder</span></h2>

                <ul class="descricao">
                    {% for ingredients in myRecipe.ingredients%}
                        <li>{{ingredients}}</li>
                        {% endfor%}
                    </ul>
                </div>

                <div class="conteudo">
                    <h3>Modo de preparo
                        <span class="showItem">esconder</span></h3>

                    <ul class="descricao">
                        {% for preparation in myRecipe.preparation_mode %}
                        <li>{{preparation}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="conteudo">
                    <h4>Informações Adicionais
                        <span class="showItem">esconder</span></h4>

                    <p class="descricao">{{myRecipe.information}}</p>
                </div>

            </article>
        </section>
        {% endblock%}