{% extends 'layout.njk' %}

{%block content%}
 <section class="chefs">
  <div class="chefs__grid">
   {% for chef in chefs %}
    <div class="chef__card">
     <img class="chef__card__image" src="{{chef.avatar_url}}" alt="{{chef.name}}">
     <div class="chef__card__content">
      <p class="chef__card__content__name">{{chef.name}}</p>
      <span class="chef__card__content__recipes">{{chef.total_recipes}}
       receitas</span>
     </div>
    </div>
    {% endfor%}
   </div>
  </section>
  {%endblock%}