{% extends 'layout.njk' %}

{% block content %}

  <section class="receitas">
    <div class="receitas__grid">
      {% for recipe in recipes %}
        <a class="receita" href="/{{recipe.id}}">
          <div class="receita__content">
            <img class="receita__content__thumb" src="{{recipe.image}}" alt="{{recipe.title}}">
            <p class="receita__content__title">{{recipe.title}}</p>
            <span class="receita__content__author">{{recipe.author}}</span>
          </div>
        </a>
        {% endfor%}
      </div>
    </section>

  {% endblock %}