{% extends 'layout.njk' %}

{% block content %}
	<div class="content">
		<section class="receitas">
			<h2 class="receitas__title">Buscando por "{{filter}}"</h2>
			<div class="receitas__grid">
				{% for recipe in recipes %}
					<a class="receita" href="/{{recipe.id}}">
						<div class="receita__content">
							<img class="receita__content__thumb" src="{{recipe.image}}" alt="{{recipe.title}}">
							<p class="receita__content__name">{{recipe.title}}</p>
							<span class="receita__content__author">por {{recipe.name}}</span>
						</div>
					</a>
					{% endfor%}
				</div>
			</section>

			<div class="pagination"
			 data-page="{{pagination.page}}"
				data-total="{{pagination.total}}"
				data-filter="{{filter}}">
			</div>
		</div>
	{% endblock %}