{% extends "layoutAdmin.njk" %}

{% block content %}
    <div class="adminEdit__content">
      <form class="edit-recipe" method="POST" action="/admin/recipes?_method=PUT">
        <div class="headerEdit">
          <div class="headerTitle">
            <h1>Editando receita</h1>
          </div>
          <div class="headerActions">
            <button class="btn-salvar" type="submit">Salvar receita</button>
          </div>
        </div>
        {% include "pages/admin/recipes/fields.njk" %}
        <input type="hidden" name="id" value="{{ recipe.id }}">
      </form>

      <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">
        <input type="hidden" name="id" value="{{ recipe.id }}">
        <button type="submit" class="btn-delete">Deletar</button>
      </form>
    </div>
{% endblock %}