{% extends "layoutAdmin.njk" %}

{% block content %}
  <section class="receitas">
    <div class="headerCreate">
      <div class="headerTitle">
        <h1>Gerenciar receitas</h1>
      </div>
      <div class="headerActions">
        <a href="/admin/recipes/create">
          <button class="btn-salvar">Nova receita</button>
        </a>
      </div>
    </div>

    <div class="receitas__gridAdmin">
      {% for recipe in recipes %}
        <div class="receita transform" href="/{{recipe.id}}">
          <div class="receita__content">
            <img class="receita__content__thumb" src="{{recipe.image}}" alt="{{recipe.title}}">
            <p class="receita__content__name">{{recipe.title}}</p>
            <span class="receita__content__author">{{recipe.author}}</span>
          </div>
          <a class="receitas__link" href="/admin/recipes/{{recipe.id}}">Visualizar</a>
        </div>
        {% endfor%}
      </div>
    </section>
  {% endblock %}