{% extends "layoutAdmin.njk" %}

{% block content %}
  <div class="content">
    <header class="headerRecipe">
      <div class="headerRecipe__edit">
        <h1 class="headerRecipe__edit__title">Receita: {{recipes.title}}</h1>
        <a class="headerRecipe__edit__btn" href="/admin/recipes/{{recipes.id}}/edit">
          <button>Editar receita</button>
        </a>
      </div>
      <img class="recipe__header__image" src="{{recipes.image}}" alt="{{recipes.title}}">
      <h1 class="recipe__header__name">{{recipes.title}}</h1>
      <span class="recipe__header__author">por
        <b>{{recipes.author}}</b>
      </span>
    </header>

    <article>
      <div class="recipe__content">
        <h2 class="recipe__content__subtitle">Ingredientes
          <span class="recipe__content__subtitle__show">esconder</span></h2>

        <ul class="recipe__content__description">
          {% for ingredients in recipes.ingredients%}
            <li class="recipe__content__description__list">{{ingredients}}</li>
            {% endfor%}
          </ul>
        </div>

        <div class="recipe__content">
          <h3 class="recipe__content__subtitle">Modo de preparo
            <span class="recipe__content__subtitle__show">esconder</span></h3>

          <ul class="recipe__content__description">
            {% for preparation in recipes.preparation %}
              <li class="recipe__content__description__list">{{preparation}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="recipe__content">
          <h4 class="recipe__content__subtitle">Informações Adicionais
            <span class="recipe__content__subtitle__show">esconder</span></h4>
          <p class="recipe__content__description">{{recipes.information}}</p>
        </div>

      </article>
    </div>
    {% endblock%}